.footer {
    background-color: $color-grey-dark-3;
    padding: 10rem 0;
    font-size: 1.4rem;
    color: $color-grey-light-1;

    @include respond(tab-port) { 
        padding: 8rem 0;
    }

    &__logo-box {
        text-align: center;
        margin-bottom: 8rem;

        @include respond(tab-port) { 
            margin-bottom: 6rem;
        }
    }

    &__logo {
        width: 15rem;
        height: auto;
    }

    &__navigation {
        border-top: 1px solid $color-grey-dark;
        display: inline-block;
        padding-top: 2rem;

        @include respond(tab-port) { 
            width: 100%;
            text-align: center; 
        }
    }
    
    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }
    
    &__link {
        &:link, 
        &:visited {
            display: inline-block;
            color: $color-grey-light-1;
            text-transform: uppercase;
            transition: all .2s;
        }

        &:hover,
        &:active {
            color: $color-primary;
            transform: rotate(15deg) scale(1.3);
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
        }
    }

    &__copyright {
        float: right;
        padding-top: 2rem;
        border-top: 1px solid $color-grey-dark;
        width: 80%;

        @include respond(tab-port) { 
            width: 100%;
            float: none;
        }
    }
}