.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        background-color: rgba($color-white, .5);
        padding: 1.5rem 2rem;
        border-radius: 2px;
        border: none;
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;
        transition: all .3s;

        &:focus {
            outline: none;
            border-bottom-color: $color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);

            &:invalid {
                border-bottom-color: $color-secondary-dark;
            }
        }

        &::-webkit-input-placeholder {
            color: $color-grey-dark-2;
        }

        &:placeholder-shown + .form__label {
            transform: translate(.7rem, -3.5rem) scale(1.2);
            opacity: 0;
        }

    }

    &__label {
        font-size: 1.1rem;
        font-weight: 700;
        display: inline-block;
        margin-left: 2rem;
        margin-top: .7rem;
        transition: all .3s;
    }

    &__radio-group {
        width: 49%;
        display: inline-block;
    }

    &__radio-input {
        display: none;
    }

    &__radio-label {
        display: table-cell;
        font-size: $default-font-size;
    }

    &__radio-button {
        display: inline-block;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        border: 5px solid $color-primary;
        vertical-align: middle;
        margin-right: 1rem;
        position: relative;

        &:after {
            content: "";
            height: 1.3rem;
            width: 1.3rem;
            display: inline-block;
            border-radius: 50%;
            background-color: $color-primary;
            opacity: 0;
            transition: opacity .2s;
            @include center-by-absolute;
        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-button:after {
        opacity: 1;
    }
}